.inline-child {
    display: inline-block; 
    width: 100%;
}

.container {
    display: flex;
    flex-basis: 0;
    padding: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0 .3em 1em black;
    background: white;
}

html {
    background: #f0f2f7;
}

p {
    font-size:x-large;
}

#bar_horiz {
    width: unset;
}

#bar_container {
    justify-content: center;
}

.vega-bind {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: sans-serif;
}