.inline-child {
    display: inline-block; 
    width: 100%;
}

.container {
    display: flex;
    justify-content: stretch;
}

.vega-bind {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: sans-serif;
}