.inline-child {
    display: inline-block; 
    width: 100%;
}

.container {
    display: flex;
    flex-basis: 0;
    padding: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px
}

p {
    font-size:x-large;
}


.vega-bind {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: sans-serif;
}